{% extends "base.html" %}

{% block title %} {{name}} {% endblock %}

{% block content %}

    {% if "nom" in details %}
        <h1>{{ details["nom"]["value"] }}</h1>
    {% else  %}
        <p>Il n'y a malheureusement pas de détails possibles pour <b>{{ name }}</b>...</p>
    {% endif %}

    {% if "image" in details %}
        <img src="{{details['image']['value']}}" width="128px" height="128px"/>
    {% endif %}

    {% if "bio" in details %}
        <div>{{ details["bio"]["value"] }}</div>
    {% endif %}

    <br/>
    <br/>

    {% if ("bDate" in details and "dDate" in details and "bPlace" in details and "dPlace" in details) %}
        <div>
            Né le
            {{ details["bDate"]["value"][2] }}/{{ details["bDate"]["value"][1] }}/{{ details["bDate"]["value"][0] }} à
            {{ details["bPlace"]["value"] }} et mort le
            {{ details["dDate"]["value"][2] }}/{{ details["dDate"]["value"][1] }}/{{ details["dDate"]["value"][0] }} à
            {{ details["dPlace"]["value"] }}
        </div>
    {% endif %}

    {% if "genre" in details %}
        <div>Genre : {{ details["genre"]["value"] }}</div>
    {% endif %}

    {% if "movement" in details %}
        <div>Mouvement : {{ details["movement"]["value"] }}</div>
    {% endif %}

    {% if "occupation" in details %}
        <div>Profession : {{ details["occupation"]["value"] }}</div>
    {% endif %}

    {% if "school" in details %}
        <div>Formation : {{ details["school"]["value"] }}</div>
    {% endif %}

    {% if "nationality" in details %}
        <div>Nationalité : {{ details["nationality"]["value"] }}</div>
    {% endif %}

    {% if "nationality2" in details %}
        <div>Nationalité : {{ details["nationality2"]["value"] }}</div>
    {% endif %}

    </br>
    <h2> Oeuvres de l'auteur</h2>
    <ul>
    {% for item in books  %}
        <li> <a href = "/ABook/{{ item["titre"]["value"]}}">{{ item["titre"]["value"]}}</a></li>
    {% endfor %}
    </ul>


    </br>
    <h2> Auteurs liés</h2>
    <ul>
    {% for item in relatedAuthors  %}
        <li> <a href = "/author/{{ item['nom']['value'].replace(' ','_')}}?dBirth=1802">
            {{ item['nom']['value']}}
        </a></li>
    {% endfor %}
    </ul>
{% endblock %}
