<!-- This file it the base of all other templates -->

<!DOCTYPE html>
<html>

    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - Semantic Web</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

        <!-- jQuery & Bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        {% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-dark bg-success">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                LitteraSearch
            </a>
        </nav><br/>

        <div id="content" class="container">
            {% block content %}
            <!-- Content from other templates will go here -->
            {% endblock %}
        </div>

        <br />

        <div id="footer" class="text-center">
            {% block footer %}
            &copy; Copyright 2020 - Hexanôme 4414, INSA Lyon.
            {% endblock %}
        </div>

    </body>

</html>