{% extends "base.html" %}

{% block title %} Book {% endblock %}

{% block content %}

    {% if "titre" in details %}

        <div class="card shadow-sm">

            <div class="card-header">
                {{details["titre"]["value"]}}
                {% if "authorNameBnf" in details %}
                    (par {{ details["authorNameBnf"]["value"] }})
                {% endif %}
                {% if "authorName" in details %}
                    (par <a href = "/author/{{details['authorName']['value']}}?dBirth={{details['authorBirth']['value'][0]}}">{{ details["authorName"]["value"] }}</a>)
                {% endif %}
                {% if "oeuvre" in details %}
                    <a class="float-right" href="{{details['oeuvre']['value']}}">Show on DBpedia</a>
                {% endif %}
            </div>

            <div class="card-body">

                {% if "resume" in details %}
                    <h5 class="card-title">Résumé</h5>
                    {% if "image" in details %}
                        <img src="{{details['image']['value']}}" class="rounded m-2 float-right" width="196px"/>
                    {% endif %}
                    <i>{{ details["resume"]["value"] }}</i>
                {% endif %}

                <br/><br/>

                {% if "genreLabel" in details %}
                    <h5 class="card-title">Genre</h5>
                    <p>{{ details["genreLabel"]["value"] }}</p>
                {% elif "genre" in details %}
                    <h5 class="card-title">Genre</h5>
                    <p>{{ details["genre"]["value"] }}</p>
                {% endif %}

                {% if "langue" in details %}
                    <h5 class="card-title">Langue</h5>
                    <p>{{ details["langue"]["value"] }}</p>
                {% endif %}

                {% if "publicateur" in details %}
                    <h5 class="card-title">Publication</h5>
                    <p>{{ details["publicateur"]["value"] }}</p>
                {% endif %}

                <!--
                {# if "publicationDate" in details %}
                <h5 class="card-title">Publié le</h5>
                    <p>{{ # details["publicationDate"]["value"] }}</p>
                {% endif #}
                -->
            </div>
        </div>

    {% else  %}
        <p>Il n'y a malheureusement pas de détails possibles pour <b>{{ name }}</b>...</p>
    {% endif %}

{% endblock %}
