{% extends "base.html" %}

{% block title %} Book {% endblock %}

{% block content %}

    {% if "titre" in details %}
        <br/><h1>{{details["titre"]["value"]}}</h1>
    {% else  %}
        <p>Il n'y a malheureusement pas de détails possibles pour <b>{{ name }}</b>...</p>
    {% endif %}

    {% if "oeuvre" in details %}
        <div>
            <a href="{{details['oeuvre']['value']}}">Show on dbPedia</a>
        </div>
    {% endif %}

    {% if "image" in details %}
        <br/><img src="{{details['image']['value']}}" width="128px" height="128px"/>
    {% endif %}

    {% if "authorName" in details %}
        <br/><div>Author: {{ details["authorName"]["value"] }}</div>
    {% endif %}

    {% if "genreLabel" in details %}
        <br/><div>Genre : {{ details["genreLabel"]["value"] }}</div>
    {% endif %}

    {% if "resume" in details %}
        <br/><div>Resume : {{ details["resume"]["value"] }}</div>
    {% endif %}

    {% if "langue" in details %}
        <br/><div>Language : {{ details["langue"]["value"] }}</div>
    {% endif %}

    {% if "publicateur" in details %}
        <br/><div>Published by : {{ details["publicateur"]["value"] }}</div>
    {% endif %}

{% endblock %}
