{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}

    <h1>My First Heading</h1>
    <p>Tapez http://localhost:5000/query-example?param=<votreValeur> pour tester la méthode get</p>
    <a class="btn btn-link" href="/search"> Search engine</a>
    <ul>
        <li>{{data.a}}</li>
        <li>{{data.b}}</li>
        <li>{{data.c}}</li>
    </ul><br/>

    <form method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="language" placeholder="Language">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="framework" placeholder="Framework">
        </div>
        <input class="btn btn-success" type="submit" value="Submit"><br/>
    </form>

    {% if 'language' in data %}
        <p> Language : </p> 
        <p> {{ data.language }} </p>
    {% endif %}<br/>

    <script type=text/javascript>
        $(function() {
            $('#calculate').bind('click', function() {
            $.getJSON('/_add_numbers', {
                a: $('input[name="a"]').val(),
                b: $('input[name="b"]').val()
            }, function(data) {
                $("#result").text(data.result);
            });
            });
        });
    </script>

    <h1>jQuery Example</h1>
    <p>
        <input class="form-control" type=text size=5 name=a> +
        <input class="form-control" type=text size=5 name=b> =
        <span id=result>?</span>
    </p>
    <button class="btn btn-success" id="calculate">Calculate server-side</button>

{% endblock %}
