{% extends "base.html" %}

{% block title %} Search {% endblock %}

{% block content %}

    <form action="/search" method="POST">
        <div class="text-center">
            <input class="form-control mb-2" width="100px" type="text" name="query" placeholder="Search...">

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchType" id="radioAuthors" value="author" checked>
                <label class="form-check-label" for="radioAuthors">Authors</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchType" id="radioBooks" value="book">
                <label class="form-check-label" for="radioBooks">Books</label>
            </div>

            <input class="btn btn-primary" type="submit" value="Search">
        </div>
    </form><br/>

    {% if results %}
        <i>{{ results|length }} result(s)</i>
    {% endif %}<br/><br/>

    <div class="card-columns">
        {% for item in results %}
            <div class="card shadow-sm mb-3 bg-white rounded">
                <div class="card-body">
                    {% if type=="author" %}
                    <h5 class="card-title">{{ item["nom"]["value"] if 'nom' in item else item["fnom"]["value"]}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{item["birth"]["value"]}} - {{  item["death"]["value"] if 'death' in item }}</h6>
                    <i class="card-text">{{item["bio"]["value"] }}</i><br/>
                    <a href="/author/{{ item['nom']['value'].replace(' ','_') if 'nom' in item else item['fnom']['value'].replace(' ','_') }}?dBirth={{item['birth']['value'] }}" class="card-link">Consulter</a>
                    {% else %}
                    <h5 class="card-title">{{ item["title"]["value"] }}</h5>
                    <i class="card-text">{{item["authorName"]["value"] }}</i><br/>
                    <i class="card-text">{{item["publicationDate"]["value"] }}</i><br/>
                    <a href="/ABookBnf/{{ item['title']['value'].replace(' ','_') }}" class="card-link">Consulter</a>
                    {% endif %}
                </div>
            </div><br/>
        {% endfor %}
    </div>

{% endblock %}
